.adventages {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: -90px;
}

.adventages__main-title {
  margin-top: 54px;
  color: #ffffff;
}

.adventages__main-title--black {
  color: #000000;
  margin-top: 26px;
}

.adventages__main-title-about {
  width: 228px;
  margin: 0 auto;
}

.adventages__background {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.adventages__number {
  color: #ffffff;
}

.adventages__number--grey {
  color: #333333;
}

.adventages__main-title-about {
  margin-bottom: 40px;
  color: #ffffff;
}

.adventages__info-block {
  background-color: #81B3D2;
}

.adventages__img {
  display: flex;
  flex-direction: column;
}

.adventages__wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
}

.adventages__title,
.adventages__title-about {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 50px;
  margin-top: -20px;
}

.adventages__title-about {
  margin-top: 10px;
}

.adventages-list {
  list-style: none;
}
