.hotels {
  margin-left: -70px;
  margin-top: 38px;

  &__about {
    max-width: 261px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 32px;
  }

  &__search-button {
    margin-bottom: 65px;
  }
}
