.main-footer {
  display: flex;
  flex-direction: column;
  &__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 21px;
    margin-top: 28.5px;
    margin-bottom: 33.5px;
  }
}

.social {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 47px;

  &__item {
    margin-right: 6px;
  }
}

.copyright {
  text-align: center;
}

